@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  /* body color */
  /* --c-primary: #121212; */
  --c-primary: #202020;
  /* footer color */
  --c-secondary: #181818;
  --c-primaryDark: #141414;
  --c-green: #1db954;
}
